@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}
* ::-webkit-scrollbar-track {
  background-color: #1b2838;
}
* ::-webkit-scrollbar {
  width: 6px;
  background: #1b2838;
}
* ::-webkit-scrollbar-thumb {
  background: #007cd6;
  border-radius: 5px;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

h3,
h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 1.2rem;
}

p {
  color: #fff;
  font-size: 20px;
  line-height: 170%;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  font-size: 18px;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.steam__icon,
.profile_picture {
  width: 4rem;
  height: 4rem;
}

.button {
  background-color: #0094ff;
  border: none;
  padding: 1.6rem 4.6rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
}

.discount {
  display: inline-block;
  background-color: #0094ff;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  margin: 1.6rem 1.8rem 0 0;
}

.previous_value {
  text-decoration: line-through;
  color: #aaaaaa;
  margin-right: 1.2rem;
  text-transform: uppercase;
}

.list__pages,
.search {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #1b2838;
}

li:hover,
a:hover {
  cursor: pointer;
  color: #0094ff;
  border-bottom: 3px solid #0094ff;
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0.8rem 4rem;
  background-color: #1b2838;
}
nav .nav__links {
  display: flex;
  color: #fff;
  gap: 2.9rem;
  margin-left: 8rem;
  text-transform: uppercase;
}
nav .user__informations {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 64px;
  width: 100%;
  height: 100%;
}
nav .profile {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav .profile__picture {
  margin-left: 2.9rem;
}
nav .icons {
  display: flex;
  gap: 40px;
}
nav .icons .icon {
  width: 24px;
  height: 24px;
}
nav .icon__on {
  display: inline-block;
  background-color: #0094ff;
  border-radius: 50%;
  border: 0.8rem;
  background-blend-mode: overlay;
}

.banner {
  max-width: 100%;
  height: 50vh;
  background-image: url(../../imgs/banner/bannerRedDead.jpg);
  background-repeat: no-repeat;
  box-shadow: inset -200rem 0px 5rem rgba(0, 0, 0, 0.709);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .content {
  padding: 8% 18%;
}
.banner .content .banner__logo {
  width: 22rem;
}
.banner .content .banner__description {
  margin: 3.2rem 0;
  width: 50rem;
}

main {
  background-color: #0e131e;
  color: #fff;
  padding: 10rem 18%;
}
main .list__pages {
  padding: 2.5rem 5rem;
}
main .search {
  margin-top: 4rem;
  padding: 2rem 5rem;
}
main .search input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 18px;
  color: #fff;
}
main .search input::placeholder {
  color: #fff;
  text-transform: uppercase;
}
main .search input:focus {
  border: none;
  outline: none;
}
main .search input:focus::placeholder {
  color: #aaaaaa;
}
main .ul__sessions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 6rem;
  flex-wrap: wrap;
}
main .ul__sessions a {
  width: 48rem;
  padding: 2rem 7rem;
}

.initial__catalog {
  display: flex;
  gap: 32px;
  text-align: center;
  place-content: center;
  margin: 8rem 0;
  justify-content: space-between;
}
.initial__catalog article {
  display: inline-block;
  width: 28rem;
  height: 45rem;
}
.initial__catalog .catalog__logo {
  position: relative;
  z-index: 1;
  top: 38rem;
}

.game__farcry6 {
  background-image: url(../../imgs/cover/farcrycover.jpg);
  background-size: cover;
}

.game__forza {
  background-image: url(../../imgs/cover/forzahorizon.png);
  background-size: cover;
}

.game__fifa {
  background-image: url(../../imgs/cover/fifacover.jpg);
  background-size: cover;
}

.game__minecraft {
  background-image: url(../../imgs/cover/minecraftcover.jpg);
  background-size: cover;
}

.session__discounts {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.session__discounts .game__overview {
  width: 28rem;
  height: auto;
}
.session__discounts .game__overview p {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.free__games h3 {
  margin-top: 10rem;
}
.free__games h4 {
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}
.free__games .list__games {
  display: flex;
  gap: 32px;
}
.free__games .games__free {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.free__games .games__free .description_small {
  padding: 1.5rem;
}
.free__games .games__free .title {
  text-transform: capitalize;
  font-size: 18px;
  margin-right: 7rem;
}
.free__games .games__free p {
  font-size: 14px;
}
.free__games .games__free .discount {
  margin-right: 1.6rem;
  margin-top: 0;
}
.free__games .game_large,
.free__games .offer__day {
  background-color: #1b2838;
  border-radius: 4px;
}
.free__games .description_large {
  padding: 3.2rem;
}
.free__games .offer_period {
  font-size: 16px;
  color: #aaaaaa;
  margin-top: 1.2rem;
  text-transform: capitalize;
  display: block;
}
.free__games .discount {
  margin-top: 2.4rem;
  margin-right: 4rem;
}
.free__games .previous_value {
  margin-right: 1.6rem;
}
.free__games p {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

.more__recommendations {
  text-align: center;
  margin-top: 10rem;
}
.more__recommendations h2 {
  font-size: 26px;
  font-weight: 500;
  color: #0094ff;
  margin-bottom: 1.6rem;
}
.more__recommendations .icon__bg {
  background-color: #1b2838;
  border-radius: 50%;
  padding: 0.8rem;
  margin-top: 4.8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b2838;
  height: 80px;
}

/*# sourceMappingURL=style.css.map */
