@import "./variables/variables.scss", "./variables/common.scss",
  "./sessions/header.scss", "./sessions/main.scss", "./sessions/search.scss",
  "./sessions/initial-catalog.scss", "./sessions/discounts.scss",
  "./sessions/free-games.scss", "./sessions/footer.scss";

@media screen and (min-width: 2500px) {
  html {
    font-size: 70%;
  }
  main {
    max-width: 1506px;
  }

  .banner {
    background-position: top !important;
  }
}

@media screen and (max-width: 1365px) {
  main {
    .list__pages {
      flex-direction: column;
      place-items: center;

      li a::after {
        content: "";
        background-color: transparent;
      }
    }

    .initial__catalog {
      flex-wrap: wrap;
    }

    .list__games {
      flex-wrap: wrap;

      .game_large,
      .games__free {
        flex-grow: 1;
      }
    }

    .small__bg {
      position: relative;
      height: 26rem !important;
      background-position: top !important;
    }
  }

  .banner {
    .content {
      width: auto;
    }
  }
}

@media screen and (max-width: 920px) {
  .nav__desktop {
    display: none;
  }
  .nav__mobile {
    display: flex;
    position: relative;

    .nav__links {
      display: none;
    }

    .nav__links.open {
      display: flex;
      position: absolute;
      z-index: 1;
      text-align: center;
      flex-direction: column;
      background-color: $dark-20;
      border-radius: 5px;

      padding: 1.5rem 3.4rem;

      top: 7.5rem;
      right: 0;
      justify-content: flex-end;

      li a::after {
        width: 0;
      }
    }
  }
}

@media screen and (max-width: 528px) {
  html {
    font-size: 50%;
  }

  p,
  li,
  .button {
    font-size: 14px;
  }

  .banner {
    .content {
      margin: 14rem auto;

      .banner__description {
        width: auto;
      }
    }
  }

  .user__informations {
    gap: 24px !important;
  }

  .icons {
    gap: 1.6rem !important;

    img {
      width: 25%;
    }
  }

  .steam__icon {
    margin-right: 3rem;
  }
}
