@import "./variables/variables.scss", "./variables/common.scss",
  "./sessions/header.scss", "./sessions/main.scss", "./sessions/search.scss",
  "./sessions/initial-catalog.scss", "./sessions/discounts.scss",
  "./sessions/free-games.scss", "./sessions/footer.scss";

@media screen and (min-width: 2500px) {
  html {
    font-size: 80%;
  }
  // main {
  //   padding: 10rem 20%;
  // }
}

@media screen and (max-width: 1365px) {
  main {
    .list__pages {
      flex-direction: column;
      place-items: center;

      li a::after {
        content: "";
        background-color: transparent;
      }
    }

    .initial__catalog {
      flex-wrap: wrap;
    }

    .list__games {
      flex-wrap: wrap;

      .game_large,
      .games__free {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .nav__desktop {
    display: none;
  }
  .nav__mobile {
    display: flex;
    position: relative;

    .nav__links {
      display: none;
    }

    .nav__links.open {
      display: flex;
      position: absolute;
      text-align: center;
      flex-direction: column;
      background-color: $dark-20;
      border-radius: 5px;

      padding: 1.5rem 3.4rem;

      top: 7.5rem;
      right: 0;
      justify-content: flex-end;
    }
  }
}
