// Blue palette

$dark-blue: #0065ad;
$medium-blue: #007cd6;
$brand-color-blue: #0094ff;
$blue: #2ea7ff;
$highlight-blue: #5cbaff;
$light-blue: #8aceff;

// Dark palette
$dark-10: #0e131e;
$dark-20: #1b2838;
$dark-30: #aaaaaa;

// Color System
$message: #2962ff;
$success: #0bb07b;
$warning: #ffce52;
$error: #f03d3d;
$information: #e0e0e0;
