* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  list-style: none;
  text-decoration: none;

  // Input x none
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

p {
  color: #fff;
  font-size: 20px;
  line-height: 170%;
}

img {
  max-width: 100%;
}

li {
  font-size: 18px;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.steam__icon,
.profile_picture {
  width: 4rem;
  height: 4rem;
}

.button {
  background-color: $brand-color-blue;
  border: none;
  padding: 1.6rem 4.6rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 4px;
}

.discount {
  background-color: $brand-color-blue;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  margin: 1.6rem 1.8rem 0 0;
}
.previous_value {
  text-decoration: line-through;
  color: $dark-30;
  margin-right: 1.2rem;
}

li:hover,
a:hover {
  cursor: pointer;
  color: $brand-color-blue;
  border-bottom: 3px solid $brand-color-blue;
}
